@import "bourbon/bourbon";

html { padding: 0; overflow-x: hidden; }

form { margin: 0; }

body {
  &, input {
    font-family: helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;
  }
  line-height: 1.6em;
  padding: 10px;
  margin: 0;
  color: #333;
  background-color: #fff;
  img { vertical-align: middle; }
  * { @include box-sizing(border-box); }
}

.pull-right { float: right; }

.container, section, header, footer {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

header {
  position: relative;
  line-height: 1;
  margin-bottom: 5px;
  @include clearfix;
}

footer {
  margin-top: 10px;
  text-align: center;
}

section {
  border: 1px solid #eee;
  @include clearfix;
  overflow: hidden;
}

.loading {
  background-color: #fff;
  padding: 100px 0 120px;
  text-align: center;
  text-transform: uppercase;
  color: #999;
  letter-spacing: 2px;
  font-weight: bold;
  & + .no-results { display: none; }
}

.mojigroup.button {
  margin: 0 0 10px 5px;
  padding: 3px 4px 1px;

  &.active {
    background-color: #f9f9f9;
    border-color: #58b2ee;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #08c;
  img { width: 16px; height: 16px; }
}

input:invalid { visibility: hidden; }

ul {
  text-align: left;
  padding: 0;
  margin: 0;
}

.plain {
  @include appearance(none);
  border: 0;
  box-shadow: none;
  background-color: transparent;
  &:focus {
    box-shadow: none; outline: none;
  }
}

.emoji-group {
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 0;
}

.emojis-container {
  font-size: 0;
  line-height: 0;
}

.emoji-wrapper {
  @include inline-block;
  width: 25%;
  padding: 12px 5px;
  overflow: hidden;
  white-space: nowrap;

  .keywords {
    font-size: 0;
  }

  .emoji,
  .native-emoji {
    position: absolute;
    margin-top: -3px;
  }

  input { margin-left: 25px; }
}

.global-zeroclipboard-container {
  background-color: rgba(0,0,0,.02);
}

ul.hide-text {

  .emoji-wrapper {
    width: 30px;
    height: 40px;
  }

  input { display: none; }
}

ul, li {
  list-style-type: none;
}

.button {
  line-height: 1;
  padding: 10px 12px 9px;
  margin-left: 5px;
  @include inline-block;
  vertical-align: top;
  border-radius: 35px;
  border: 1px solid #ccc;
  font-size: 11px;
  color: #777;
  text-transform: uppercase;
  font-weight: bold;

  &:hover {
    border-color: #36a;
  }

  &.clear-search {
    color: #ee9d9d;

    &:hover {
      border-color: #ee9d9d;
    }
  }
}

.input-search {
  min-height: 32px;
  padding: 7px 15px;
  outline: none;
  color: #333;
  background-repeat: no-repeat;
  background-position: right center;
  border: 1px solid #ddd;
  margin: 0;
  width: 150px;
  border-radius: 15px;
  @include transition(all 0.2s ease-in);
  @include appearance(textfield);

  // &:hover { background-color: #fff; }
  &:focus {
    border-color: #51a7e8;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(81,167,232,0.5);
  }
  &::-webkit-search-cancel-button, &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

.alert { font-size: 13px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; display: none; position: fixed; margin: auto; left: 50%; width: 200px; margin-left: -100px; top: 10px; background: rgba(10,50,90,0.7); color: #fff; font-weight: bold; padding: 7px; text-align: center; border-radius: 5px; }

.native-emoji,
.emoji {
  @include inline-block;
  cursor: pointer;
}

.native-emoji {
  font-size: 19px;
  padding: 12px 2px;
}

.emoji {
  text-indent: -9999px;
  overflow: hidden;
  @include transform(scale(0.8));
}

[data-clipboard-text] { cursor: pointer; }

.no-results {
  background-color: #f9f9f9;
  padding: 50px 30px;
  text-align: center;
  border-radius: 3px;
}

.call {
  font-size: 16px;
}

.no-results-text {
  font-weight: bold;
  color: #555;
  border-bottom: 1px solid #aaa;
  display: inline-block;
  padding-bottom: 2px;
  text-transform: uppercase;
}

.contribute-button {
  background-color: #36a;
  border-color: #36a;
  color: #fff;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #aaa;
  padding: 0 2px;
  border-radius: 3px; color: #666;
  font-family: Monaco, monospace;
  font-size: 11px;
}

.tips {
  color: #777;
}

@media (max-width: 480px) {
  .input-search { width: 60px; position: absolute; &:focus { width: 100%; } }

  input { font-size: 14px; }

  ul { padding: 0; }

  .emoji-wrapper { padding: 0; }
}
