---
layout: default
---

<section class="search">
  <img src="/emojis/mag.png" width="20" />
  <input type="search" class="search speedy-filter" />
</section>
<section class="tell-me-a-story">
  <div class="story"></div>
  <div class="storyline"><input type="text" class="queue autofocus plain" required /></div>
</section>

<section class="groups">
  <a href="#blue" class="group"><img src="/emojis/large_blue_circle.png" /></a>
  <a href="#cats" class="group"><img src="/emojis/cat.png" /></a>
  <a href="#monkey" class="group"><img src="/emojis/hear_no_evil.png" /></a>
  <a href="#transportation" class="group"><img src="/emojis/oncoming_automobile.png" /></a>
  <a href="#food" class="group"><img src="/emojis/ramen.png" /></a>
  <a href="#fruit" class="group"><img src="/emojis/apple.png" /></a>
  <a href="#photo" class="group"><img src="/emojis/mount_fuji.png" /></a>
  <a href="#time" class="group"><img src="/emojis/clock7.png" /></a>
  <a href="#ghonly" class="group"><img src="/emojis/octocat.png" /></a>
  <a class="speedy-remover"><img src="/emojis/x.png" /></a>
</section>
<section class="list">
  <a class="add-all">Queue all</a>
  <ul>
    {% for emoji in site.emojis %}
      <li class="result">
        <img src="/emojis/{{ emoji.name }}.png" title="{{ emoji.name }}" />
        <input type="text" class="autofocus plain" value=":{{ emoji.name }}:" />
        <span class="keywords">{{ emoji.name }} {% for keyword in emoji.keywords %}{{ keyword }} {% endfor %}</span>
      </li>
    {% endfor %}
  </ul>
</section>