<!DOCTYPE html>
<html>
  <head>
    <link href='/fav.png' rel='shortcut icon'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
    <meta content="text/html; charset=utf-8" http-equiv="content-type" />
    <meta content="{{ site.title }}" property="og:title" />
    <title>{{ site.title }}</title>
    <link rel="apple-touch-icon-precomposed" sizes="64x64" href="/fav.png">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script src="javascripts/stuff.js"></script>
    <script src="javascripts/speedy.js"></script>
  </head>

  <body>
    <header>
      <img src="/emojis/octopus.png" width="20" />
      +
      <img src="/emojis/cat.png" width="20" />
      =
      <img src="/emojis/octocat.png" width="20" />
    </header>
    {{ content }}
    <footer>
      <img src="/emojis/heart.png" width="20" />
    </footer>
  </body>
</html>